.scrolled {
    &.right {
        animation: scrolled-right 0.67s forwards;
    }
}

.scrolled-init {
    &.right {
        opacity: 0;
        transform: translateX(-22%);
    }
}

@keyframes scrolled-right {
    0% {
        opacity: 0;
        transform: translateX(-22%);
    }
    50% {
        opacity: 0.67;
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
